{% extends 'base.html' %}

{% block title %}Question: {{ test.name }}{% endblock %}

{% block content %}

  <h1>{{ test.name }}</h1>

  <form action="{% url 'tests:list-tests' %}" method="post">
    {% csrf_token %}

    {% for question in questions %}
      <div class="question-group">
        <h3 class="question-name">{{ question.text_of_question }}</h3>
        <ul>
          {% for answer in question.answers.all %}
            <li class="answer-item">
              <label>
                <input type="radio" name="question-id{{ question.id }}" value="{{ answer.text_of_answer }}">
                {{ answer.text_of_answer }}
              <label>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <button type="submit">Submit form</button>
  </form>

{% endblock %}
